<div id="<%= dom_id washing %>">
  <p>
    <strong>Start date:</strong>
    <%= washing.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= washing.end_date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= washing.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= washing.end_time %>
  </p>

  <p>
    <strong>Brew:</strong>
    <%= washing.brew_id %>
  </p>

  <p>
    <strong>Washer:</strong>
    <%= washing.washer_id %>
  </p>

  <p>
    <strong>Checking:</strong>
    <%= washing.checking_id %>
  </p>

  <p>
    <strong>Glass checking:</strong>
    <%= washing.glass_checking_id %>
  </p>

  <p>
    <strong>Equipment:</strong>
    <%= washing.equipment_id %>
  </p>

</div>
